.contact {
  margin-top: 100px;
  & > h2 {
    font-size: 5vmin;
    text-align: center;
    margin-bottom: 102px;
  }
  .contact__container {
    background: linear-gradient(97.18deg, #2700e3 0%, #9a89b4 100%);
    border-radius: 106px;
    min-height: 374px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 3rem;
    h3 {
      color: white;
      font-size: 5vmin;
      text-transform: capitalize;
    }
    .contacts {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      width: 100%;
      gap: 22px;
      a {
        background-color: $white;
        text-align: center;
        padding: 10px;
        color: $black;
        font-weight: 700;
        font-size: 25px;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 729px) {
  .contact {
    .contacts {
      a {
        font-size: 20px !important;
      }
    }
  }
}

@media (max-width: 637px) {
  .contact {
    .contact__container {
      width: 98%;
      .contacts {
        a {
          font-size: 14px !important;
        }
      }
    }
  }
}
