footer {
  height: 108px;
  background-color: $black;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  text-align: center;
  padding: 2rem 1rem;
}
