.work {
  margin-top: 100px;
  .work__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    .work__website-card {
      padding: 0 0 10px 0;
      background-color: $black;
      img {
        width: 100%;
      }
      .website-card__info {
        padding: 10px 30px 30px 24px;
        .website-card__title {
          color: white;
          font-size: 4vmin !important;
          font-weight: 700;
        }
        .website-card__desc {
          color: white;
          font-size: 2.5vmin;
          text-transform: capitalize;
          font-weight: normal;
        }
        .website-card__preview-buttons {
          display: flex;
          align-items: center;
          gap: 14px;
        }
      }
    }
  }
  .button#github {
    margin: 30px auto;
    i {
      font-size: 4vmin;
    }
  }
}

@media (max-width: 1116px) {
  .website-card__info {
    padding: 0px 68px 51px 64px !important;
  }
}

@media (max-width: 1034px) {
  .work {
    .work__container {
      width: 100%;
    }
  }
}

@media (max-width: 945px) {
  .work {
    .work__container {
      .work__website-card {
        max-width: 466px;
        margin: 50px auto;
        // overflow: hidden;
        img {
          max-width: 100%;
        }
      }
    }
  }
}

@media (max-width: 476px) {
  .work {
    .work__container {
      grid-template-columns: 100% !important;
      .work__website-card {
        .website-card__info {
          .button {
            font-size: 13px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 462px) {
  .work {
    .work__container {
      max-width: 100% !important;
      gap: 0 !important;
      .work__website-card {
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 522px) {
  .work {
    .work__container {
      .website-card__info {
        padding: 10px !important;
        .website-card__preview-buttons {
          button {
            font-size: 13px !important;
          }
        }
      }
    }
  }
}
